In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/02/26 17:25:18 WARN Utils: Your hostname, lptp resolves to a loopback address: 127.0.1.1; using 192.168.100.8 instead (on interface wlp3s0)
24/02/26 17:25:18 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/02/26 17:25:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

<h3>Question 1:</h3>
Install Spark and PySpark

Install Spark
Run PySpark
Create a local spark session
Execute spark.version.
What's the output?

In [92]:
spark.version

'3.3.2'

In [4]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv')

In [5]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   null|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   null|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   null|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   null|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   null|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   null|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   null|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   null|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   null|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   null|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   null|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   null|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   null|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [7]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [13]:
from pyspark.sql import types

In [14]:
schema = types.StructType([
        types.StructField('dispatching_base_num', types.StringType(), True), 
        types.StructField('pickup_datetime', types.TimestampType(), True), 
        types.StructField('dropOff_datetime', types.TimestampType(), True), 
        types.StructField('PUlocationID', types.IntegerType(), True), 
        types.StructField('DOlocationID', types.IntegerType(), True), 
        types.StructField('SR_Flag', types.StringType(), True), 
        types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [15]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv("fhv_tripdata_2019-10.csv")

In [16]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   null|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   null|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   null|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   null|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   null|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   null|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   null|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   null|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   null|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   null|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   null|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   null|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   null|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [17]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', TimestampType(), True), StructField('dropOff_datetime', TimestampType(), True), StructField('PUlocationID', IntegerType(), True), StructField('DOlocationID', IntegerType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

<h3>Question 2:</h3>
FHV October 2019

Read the October 2019 FHV into a Spark Dataframe with a schema as we did in the lessons.

Repartition the Dataframe to 6 partitions and save it to parquet.

What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.

In [20]:
df = df.repartition(6)

In [21]:
df.write.parquet("./fhvhv/2021/10")

In [22]:
!ls -lh fhvhv/2021/10/

total 37M
-rw-r--r-- 1 aron aron 6,2M фев 26 17:54 part-00000-6104affe-22c0-411e-9f42-212ecaffda2f-c000.snappy.parquet
-rw-r--r-- 1 aron aron 6,2M фев 26 17:54 part-00001-6104affe-22c0-411e-9f42-212ecaffda2f-c000.snappy.parquet
-rw-r--r-- 1 aron aron 6,2M фев 26 17:54 part-00002-6104affe-22c0-411e-9f42-212ecaffda2f-c000.snappy.parquet
-rw-r--r-- 1 aron aron 6,2M фев 26 17:54 part-00003-6104affe-22c0-411e-9f42-212ecaffda2f-c000.snappy.parquet
-rw-r--r-- 1 aron aron 6,2M фев 26 17:54 part-00004-6104affe-22c0-411e-9f42-212ecaffda2f-c000.snappy.parquet
-rw-r--r-- 1 aron aron 6,2M фев 26 17:54 part-00005-6104affe-22c0-411e-9f42-212ecaffda2f-c000.snappy.parquet
-rw-r--r-- 1 aron aron    0 фев 26 17:54 _SUCCESS

In [24]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [37]:
from pyspark.sql import functions as F
import datetime

In [39]:
df.where(F.to_date(df.pickup_datetime) == datetime.date(2019, 10, 15)).count()

62610

In [55]:
df.sort(df.dropOff_datetime.cast("long") - df.pickup_datetime.cast("long")).tail(10)

[Row(dispatching_base_num='B01452', pickup_datetime=datetime.datetime(2019, 10, 1, 13, 47, 17), dropOff_datetime=datetime.datetime(2019, 11, 3, 15, 20, 28), PUlocationID=44, DOlocationID=214, SR_Flag=None, Affiliated_base_number='B01452'),
 Row(dispatching_base_num='B03084         ', pickup_datetime=datetime.datetime(2019, 10, 25, 7, 4, 57), dropOff_datetime=datetime.datetime(2019, 12, 8, 7, 21, 11), PUlocationID=168, DOlocationID=235, SR_Flag=None, Affiliated_base_number='B02765'),
 Row(dispatching_base_num='B03084         ', pickup_datetime=datetime.datetime(2019, 10, 25, 7, 4, 57), dropOff_datetime=datetime.datetime(2019, 12, 8, 7, 54, 33), PUlocationID=168, DOlocationID=235, SR_Flag=None, Affiliated_base_number='B02765'),
 Row(dispatching_base_num='B03080', pickup_datetime=datetime.datetime(2019, 10, 30, 12, 30, 4), dropOff_datetime=datetime.datetime(2019, 12, 30, 13, 2, 8), PUlocationID=264, DOlocationID=50, SR_Flag=None, Affiliated_base_number='B02883'),
 Row(dispatching_base_num='B03110', pickup_datetime=datetime.datetime(2019, 10, 26, 21, 26), dropOff_datetime=datetime.datetime(2020, 10, 26, 21, 36), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B03110'),
 Row(dispatching_base_num='B02921', pickup_datetime=datetime.datetime(2019, 10, 17, 14, 0), dropOff_datetime=datetime.datetime(2020, 10, 18, 0, 0), PUlocationID=None, DOlocationID=None, SR_Flag=None, Affiliated_base_number='B03037'),
 Row(dispatching_base_num='B00746         ', pickup_datetime=datetime.datetime(2019, 10, 1, 21, 43, 42), dropOff_datetime=datetime.datetime(2027, 10, 1, 21, 45, 23), PUlocationID=159, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00746         '),
 Row(dispatching_base_num='B02416', pickup_datetime=datetime.datetime(2019, 10, 31, 23, 46, 33), dropOff_datetime=datetime.datetime(2029, 11, 1, 0, 13), PUlocationID=None, DOlocationID=None, SR_Flag=None, Affiliated_base_number='B02416'),
 Row(dispatching_base_num='B02832', pickup_datetime=datetime.datetime(2019, 10, 28, 9, 0), dropOff_datetime=datetime.datetime(2091, 10, 28, 9, 30), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B02832'),
 Row(dispatching_base_num='B02832', pickup_datetime=datetime.datetime(2019, 10, 11, 18, 0), dropOff_datetime=datetime.datetime(2091, 10, 11, 18, 30), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B02832')]

<h3>Question 3:</h3>
Count records

How many taxi trips were there on the 15th of October?

Consider only trips that started on the 15th of October.

In [59]:
df.createOrReplaceTempView('fhv_trips_data')

In [62]:
spark.sql("""
SELECT 
  COUNT(1) 
FROM 
  fhv_trips_data 
WHERE 
  pickup_datetime BETWEEN '2019-10-15 00:00:00' 
  AND '2019-10-15 23:59:59';
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

<h3>Question 4:</h3>
Longest trip for each day

What is the length of the longest trip in the dataset in hours?

In [69]:
spark.sql("""
SELECT 
  DATEDIFF(
    hour, pickup_datetime, dropOff_datetime
  ) as hours 
FROM 
  fhv_trips_data 
ORDER BY 
  hours DESC 
LIMIT 
  1;
""").show()

+------+
| hours|
+------+
|631152|
+------+

<h3>Question 6:</h3>
Least frequent pickup location zone

Load the zone lookup data into a temp view in Spark
Zone Data

Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?

In [75]:
zones_schema = types.StructType([
        types.StructField('LocationID', types.IntegerType(), True), 
        types.StructField('Borough', types.StringType(), True), 
        types.StructField('Zone', types.StringType(), True), 
        types.StructField('service_zone', types.StringType(), True)
])

In [77]:
zones = spark.read \
    .option("header", "true") \
    .schema(zones_schema) \
    .csv("taxi_zone_lookup.csv")

In [78]:
zones.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [79]:
zones.createOrReplaceTempView("zones")

In [91]:
spark.sql("""
SELECT 
  Zone, 
  COUNT(1) as trips_num 
FROM 
  fhv_trips_data t 
  LEFT JOIN zones zpu ON t.PUlocationID = zpu.LocationID 
GROUP BY 
  Zone 
ORDER BY 
  trips_num ASC 
LIMIT 
  1;
""").show()

+-----------+---------+
|       Zone|trips_num|
+-----------+---------+
|Jamaica Bay|        1|
+-----------+---------+