# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [8]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
8.382332347441762
3.605551275463989

In [16]:
print(sum(square_root_generator(limit)))
print(list(square_root_generator(13))[12])

8.382332347441762
3.605551275463989

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [10]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [13]:
import dlt
import duckdb

generators_pipeline = dlt.pipeline(destination='duckdb', dataset_name='humans')

people_1_metadata = generators_pipeline.run(people_1(),
										table_name="people",
										write_disposition="replace")
print(people_1_metadata)

conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

ages_sum = conn.sql("SELECT SUM(Age) FROM humans.people")
display(ages_sum)

Pipeline dlt_ipykernel_launcher load step completed in 0.18 seconds
1 load package(s) were loaded to destination duckdb and into dataset humans
The duckdb destination used duckdb:////home/aron/de-zoomcamp-hw/workshops/dlt/dlt_ipykernel_launcher.duckdb location to store data
Load package 1707774611.1118398 is LOADED and contains no failed jobs

┌──────────┐
│ sum(Age) │
│  int128  │
├──────────┤
│      140 │
└──────────┘

In [14]:
people_2_metadata = generators_pipeline.run(people_2(),
										table_name="people",
										write_disposition="append")
print(people_2_metadata)

ages_sum = conn.sql("SELECT SUM(Age) FROM humans.people")
display(ages_sum)

Pipeline dlt_ipykernel_launcher load step completed in 0.24 seconds
1 load package(s) were loaded to destination duckdb and into dataset humans
The duckdb destination used duckdb:////home/aron/de-zoomcamp-hw/workshops/dlt/dlt_ipykernel_launcher.duckdb location to store data
Load package 1707774722.1206887 is LOADED and contains no failed jobs

┌──────────┐
│ sum(Age) │
│  int128  │
├──────────┤
│      353 │
└──────────┘

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

In [15]:
people_1_metadata = generators_pipeline.run(people_1(),
										table_name="people_merged",
										write_disposition="replace",
                                        primary_key="ID")
print(people_1_metadata)

people_2_metadata = generators_pipeline.run(people_2(),
										table_name="people_merged",
										write_disposition="merge",
                                        primary_key="ID")
print(people_2_metadata)

people_merged_rows = conn.sql("SELECT * FROM humans.people_merged")
display(people_merged_rows)

ages_sum = conn.sql("SELECT SUM(Age) FROM humans.people_merged")
display(ages_sum)

Pipeline dlt_ipykernel_launcher load step completed in 0.26 seconds
1 load package(s) were loaded to destination duckdb and into dataset humans
The duckdb destination used duckdb:////home/aron/de-zoomcamp-hw/workshops/dlt/dlt_ipykernel_launcher.duckdb location to store data
Load package 1707775125.6810427 is LOADED and contains no failed jobs
Pipeline dlt_ipykernel_launcher load step completed in 0.51 seconds
1 load package(s) were loaded to destination duckdb and into dataset humans
The duckdb destination used duckdb:////home/aron/de-zoomcamp-hw/workshops/dlt/dlt_ipykernel_launcher.duckdb location to store data
Load package 1707775126.4085042 is LOADED and contains no failed jobs

┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┬────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │ occupation │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │  varchar   │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┼────────────┤
│     1 │ Person_1 │    26 │ City_A  │ 1707775125.6810427 │ Qax4DSZQam/iZw │ NULL       │
│     2 │ Person_2 │    27 │ City_A  │ 1707775125.6810427 │ bCjnGveBz/c0pw │ NULL       │
│     8 │ Person_8 │    38 │ City_B  │ 1707775126.4085042 │ f/pwGBOK1e6Pvg │ Job_8      │
│     5 │ Person_5 │    35 │ City_B  │ 1707775126.4085042 │ 3DXcK922aruN/g │ Job_5      │
│     4 │ Person_4 │    34 │ City_B  │ 1707775126.4085042 │ k9+dffSjinJYtw │ Job_4      │
│     7 │ Person_7 │    37 │ City_B  │ 1707775126.4085042 │ WRxZhXAbbCvVWw │ Job_7      │
│     3 │ Person_3 │    33 │ City_B  │ 1707775126.4085042 │ 3oP6QtVwDCkdhQ │ Job_3      │
│     6 │ Person_6 │    36 │ City_B  │ 1707775126.4085042 │ 3FfD2rhWINDXeA │ Job_6      │
└───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┴────────────┘

┌──────────┐
│ sum(Age) │
│  int128  │
├──────────┤
│      266 │
└──────────┘